[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4
[submodule "tools"]
	path = tools
	url = https://github.com/seL4/seL4_tools
[submodule "projects/seL4_libs"]
	path = projects/seL4_libs
	url = https://github.com/seL4/seL4_libs
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = https://github.com/seL4/util_libs
[submodule "projects/sel4runtime"]
	path = projects/sel4runtime
	url = https://github.com/seL4/sel4runtime
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc
